<div class="card card-home-article pt-1 pb-1">

  <div class="of-h">
    <a href="#">
      <img class="img-fluid e-scale" src="{{cover}}">
    </a>
  </div>

  <a href="#">
    <h5 class="mt-3 mb-3">{{title}}</h5>
  </a>
  <!-- <p >来源：<a href="{{source}}" target="_blank">{{sourceName}}</a></p> -->
  <!-- <p><span>{{stats.view}}</span> | <span>{{stats.comment}}</span> | <span>{{stats.love}}</span></p> -->
  <p class="text-justify">{{summary}}</p>
</div>
