<div class="card card-home-article">
  <div class="row">
    <div class="col-md-8">
      <h3>{{title}}</h3>
      来源：<a href="{{source}}" target="_blank">{{sourceName}}</a>
      <p>{{summary}}</p>
      <p><span>{{stats.view}}</span> | <span>{{stats.comment}}</span> | <span>{{stats.love}}</span></p>
    </div>
    <div class="col-md-4">
      <img class="img-fluid" src="{{cover}}">
    </div>
  </div>
</div>
