{{> header}}

<!-- {{> section-title type='banner' title='特别展柜'}} -->

{{> banner}}

{{> section-title type='article-lists' title='精选文章'}}

<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="list-inline list-unstyled">
          <li>全部</li>
          <li>遇见·自己</li>
          <li>种草·拔草</li>
          <li>匠人·匠心</li>
        </ul>

        <hr />

        <ul class="list-unstyled">
          {{#each list}}
            <div class="">
              <h5>{{title}}</h5>
              来源：<a href="{{source}}" target="_blank">{{sourceName}}</a>
              <p>{{summary}}</p>
              <p><span>{{stats.view}}</span> | <span>{{stats.comment}}</span> | <span>{{stats.love}}</span></p>
              <img src="{{cover}}" alt="" width="200">
              <hr />
            </div>
          {{/each}}
        </ul>
      </div>
      <!-- <div class="col-md-4">
        <i>边栏<i/>

        <hr />

        <i>banner 特殊展柜<i/>

        <hr />

        <i>公众号推荐<i/>
      </div> -->
    </div>
  </div>
</section>


{{> footer}}
